# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
.env
.env.*

# Distribution / build artifacts
build/
dist/
*.egg-info/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Checkpoint files created by Jupyter
.ipynb_checkpoints

# Benchmark Project
# Ignore all log files
*.log
logs/


# Ignore the raw data from the tuning run (output of 02_run_tuning.py)
experiments/tuning_results/

# Ignore the aggregated data from the showcase run (output of 03_run_showcase.py)
experiments/showcase_results.json
